* {
	margin: 0;
	padding: 0;
}

body {
	padding: 8px;
}

h1 {
	padding: 0 8px 8px 0;
	font-size: 28px;
}

#search {
	width: 700px;
	background: #cfc;
	border: 1px solid #080;
	padding: 14px;
	margin-bottom: 8px;
}

label {
	display: block;
}

textarea {
	display: block;
	margin: 0 0 1em 0;
}

span.hl0 {
	background: #f00;
}

span.hl1 {
	background: #0f0;
}

span.hl2 {
	background: #00f;
	color: #fff;
}

span.hl3 {
	background: #ff0;
}

span.hl4 {
	background: #0ff;
}
		
span.hl5 {
	background: #f0f;
}

span.hl6 {
	background: #f80;
}

span.hl7 {
	background: #050;
	color: #fff;
}

span.hl8 {
	background: #bbb;
}